:root {
  --brand-color: #2E437C;
  /* --brand-color-dark: #007ACC; */
  /* --brand-color-light: #3AB0FF; */
}
.bg-brand {
  background-color: var(--brand-color);
}
@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
