:root {
  --brand-color: #2e437c;
  /* --brand-color-dark: #007ACC; */
  /* --brand-color-light: #3AB0FF; */
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

.show-scrollbar {
  scrollbar-width: thin !important;            /* Firefox: show scrollbar */
  -ms-overflow-style: auto !important;         /* IE Edge: show scrollbar */
}

.show-scrollbar::-webkit-scrollbar {
  display: block !important;                   /* Chrome, Safari: show scrollbar */
  width: 8px;                                  /* Adjust thickness as you need */
  background: #eee;
}
.show-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


.bg-brand {
  background-color: var(--brand-color);
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.center-div {
  position: fixed;
  top: 10%;
  left: -15%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100%;
  /* max-height: 80vh; */
  z-index: 1000;
  background: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

@media (min-width: 1600px) {
  .center-div {
    width: 100vw;
    max-width: 2000px;
    left: 0;
    top: 6%;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .center-div {
    width: 100vw;
    max-width: 2000px;
    left: 0;
    top: 8%;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .center-div {
    width: 100vw;
    max-width: 1399px;
    left: 0;
    top: 7.7%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .center-div {
    width: 100vw;
    max-width: 1023px;
    left: 0;
    top: 5%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .center-div {
    width: 95vw;
    max-width: 600px;
  }
}

@media (max-width: 639px) {
  .center-div {
    width: 95vw;
    height: auto;
    min-height: 100%;
    /* max-height: 90vh; */
    top: 5%;
  }
}

.grid-center-box-100 {
  /* width: 100%; */
  /* height: 100vh !important; */
  /* max-height: 100vh !important; */
  /* display: grid; */
  /* place-content: center; */
  /* gap: 0; */
}

@media (min-width: 1200px) {
  .grid-center-box-100 {
    /* width: 100%; */
    height: 100vh !important;
    max-height: 100vh !important;
    display: grid;
    place-content: center;
    gap: 0;
  }
}

.custom-gap {
  /* gap: 0; */
}

.custom-width {
  /* width: calc(3 / 12 * 100%); */
}

.custom-width2 {
  /* width: calc(9 / 12 * 100%); */
}

.custom-image {
  width: 100%;
}

.custom-position {
}

.form-custom {}

@media (min-width: 1200px) and (min-height: 500px) {
  .grid-center-box-100 {
    gap: 0.5rem;
  }

  .s-para {
    font-size: 15px;
  }

  .custom-width {
    width: calc(4 / 12 * 100%);
  }

  .custom-width2 {
    width: calc(8 / 12 * 100%);
  }

  .custom-gap {
    gap: 10px !important;
  }

  .custom-image {
    width: 65%;
  }

  .custom-position {
    bottom: 0;
    right: -30% ;
  }

  .form-custom {
    /* height: 40px !important; */
  }
  
  .center-div {
    top: 10%;
  }
}

@media (min-width: 1200px) and (min-height: 650px) {
  .grid-center-box-100 {
    gap: 2rem;
  }
  .custom-width {
    width: calc(3 / 12 * 100%) !important;
  }

  .custom-width2 {
    width: calc(9 / 12 * 100%);
  }

  .custom-gap {
    gap: 26px !important;
  }

  .custom-image {
    width: 100%;
  }

   .s-para {
    font-size: 16px;
  }

   .form-custom {
    /* height: 60px !important; */
  }

  .center-div {
    top: 7.7%;
  }

   .custom-position {
    bottom: 0;
    right: -20% ;
  }
}

@media (min-width: 1200px) and (min-height: 800px) {
  .grid-center-box-100 {
    gap: 2rem;
  }
  .s-para {
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (min-height: 1000px) {
  .grid-center-box-100 {
    gap: 2rem;
  }
}

@media (min-width: 1200px) and (min-height: 1200px) {
  .grid-center-box-100 {
    gap: 8rem;
  }
}

.loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #a2a2a2;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g:no-repeat linear-gradient(#2E437C 0 0);
  background: var(--g),var(--g),var(--g),var(--g);
  background-size: 16px 14px;
  animation:
    l7-1 2s infinite linear,
    l7-2 2s infinite linear;
}
@keyframes l7-1 {
  0%,
  100%  {background-position: 0 -50px,100% -50px}
  17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
  35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
  52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
  70%,
  98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes l7-2 {
  0%,70% {transform:translate(0)}
  100%  {transform:translate(200%)}
}